Flask==0.9
GnuPGInterface==0.3.2
Jinja2==2.6
Werkzeug==0.8.3
command-not-found==0.1
distribute==0.6.28
gunicorn==0.14.6
lxml==3.0.1
mercurial==1.4.3
py360link==1
pycurl==7.19.0
python-apt==0.7.94.2ubuntu6.4
requests==0.14.1
ufw==0.30pre1-0ubuntu2
unattended-upgrades==0.1
virtualenv==1.4.5
wsgiref==0.1.2
