<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Citation finder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <style type="text/css">
        body {
            font-family: 'Droid Sans', sans-serif;
        }
        h1.title {
            margin-left: 5em;
            color: #48535f;
        }
        .main-container {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
         input#cite {
            width: 30em;
            height: 10em;
         }
         .not-found {
            border: .25em solid #EE7600;
         }
         .not-found em {
            padding: 1em;
         }
         #library-code {
            display: none;
         }
        #disqus_thread {
            margin-top: 6em;
        }

/*        #spinner {
            display: none;
            padding: 2em;
        }*/

        /*https://codepen.io/mandelid/pen/vwKoe*/
        #spinner {
          display: none;
          width: 50px;
          height: 50px;
          border: 3px solid rgba(255,255,255,.3);
          border-radius: 50%;
          border-top-color: #fff;
          animation: spin 1s ease-in-out infinite;
          -webkit-animation: spin 1s ease-in-out infinite;
        }

        @keyframes spin {
          to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
          to { -webkit-transform: rotate(360deg); }
        }
        </style>
    </head>
    <body>
        <h1 class="title">Citation finder</h1>

        <div class="main-container">
                <article>
                    </section>
                    <section id="cites">
                    </section>
                    <section id="links">
                    </section>
                    <section>
                        <div id="spinner"></div>
                    </section>
                    <section>
                        <form id="cite-box">
                            <textarea rows="7" cols="70" id="text-box"></textarea>
                        </form>
                        <p class="intro">Paste a citation in the box above.  A query will be made to CrossRef to attempt to find a DOI for the citation.  A second query will be made to a link resolver to attempt to find a full text link for the citation.  Clear the box or paste a new citation to start over.  This demo uses the <a href="http://search.crossref.org/">CrossRef metadata search.</p>
                    </section>
                </article>
                {% if library %}
                <span id="library-code">{{ library }}</span>
                {% endif %}
                <a href="https://github.com/lawlesst/citation-finder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
        </div> <!-- #main-container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <!-- jQuery templates -->
        {% raw %}
        <script id="citationsTemplate" type="text/x-jQuery-tmpl">
                <p id="found-citation">${title[0]} - ${created['date-parts'][0][0]}</p>
                <p></p>
                <ul>
                    <li><a href="${doi}">${DOI}</a></li>
                </ul>
        </script>

        <script id="notFoundTemplate" type="text/x-jQuery-tmpl">
            <p class="not-found">
                <em>No citation found.  <a href="http://scholar.google.com/scholar?q=${cite}">Try Google Scholar</a>?</em>
            </p>
             <hr/>
        </script>
        <script id="linkTemplate" type="text/x-jQuery-tmpl">
             <hr/>
            <h5>${library} access</h5>
            <p>Full text available from <a href="${url}">
                ${provider}</a>
            </p>
            <hr/>
        </script>
        <script id="noHoldingsTemplate" type="text/x-jQuery-tmpl">
             <hr/>
            <p>A full text link can not be found.  Brown University users can <a href="http://library.brown.edu/easyarticle/?${query}">request via easyArticle</a>.
            </p>
            <hr/>
        </script>
        <script id="lookupErrorTemplate" type="text/x-jQuery-tmpl">
             <hr/>
            <p class="error">Error searching the API.</p>
            <hr/>
        </script>
        {% endraw %}
         <!-- end jQuery templates -->
        <script>
            $('textarea').bind('input', function(e) {
                var query = jQuery.trim($(this).val());
                var queryWordLength = query.split(/\s+/).length;
                //If we have a citation on the page.  Don't do anything unless query is "".
                if ($('#found-citation').length ) {
                    if (query == '') {
                        clearFound();
                    } else {
                        return false;
                    };
                };
                clearFound();
                //console.log(query + '--' + queryWordLength);
               // console.log(query.length);
                //Don't execute blank queries or those less than n characters.
                //CrossRef also wants a minimum of three words in the query.
                if ((query == '') || (query.length < 25) || (queryWordLength < 3)) {

                } else {
                    setTimeout(findDOI(query), 2000);
                };
            });


            function findDOI(cite) {
                $('#spinner').toggle();
                var cites = {'citation': cite};
                //console.debug(cites);
                var cs = JSON.stringify(cites);
                var jqxhr = $.post("/fetch-cite", cite, function() {
                  //console.debug(this);
                })
                .success(function(data)
                    {
                        //not found
                        if ((data.cites.length == undefined) || (data.cites.length == 0)) {
                            //render not found
                            $('#cites').html($('#notFoundTemplate').tmpl({'cite':cite}));
                            $('#spinner').toggle();
                        } else {
                            $.each(data.cites, function(num, link) {
                              if (link.DOI == undefined) {
                                  $('#cites').html($('#notFoundTemplate').tmpl({'cite':cite}));
                                  $('#spinner').toggle();
                                  return false;
                              } else {
                                  $('#cites').html($('#citationsTemplate').tmpl(data.cites));
                                  getElectronicHoldings(link.DOI);
                              };
                            });
                        };
                    }
                )
                .error(function() {
                    $('#cites').html($('#lookupErrorTemplate').tmpl());
                    $('#spinner').toggle();
                })
                .complete(function() { });
                return false;
            };

            //clear existing
            function clearFound() {
                //clear existing
                $('#cites').empty();
                $('#links').empty();
            };

            //clear results when new citation is pated.
            $("textarea").bind('paste', function(e) {
                clearFound();
            });

            //Get holdings from 360link.
            function getElectronicHoldings(doi) {
                var ourl = 'doi=' + doi;
                var libCode = $('#library-code').text();
        		//var baseResolver = 'http://damp-tor-3124.herokuapp.com/';
        		var baseResolver = window.location.origin + '/resolve/';
                        if (libCode !== '') {
                            baseResolver = baseResolver + libCode + '/';
        	};
		get360Link(baseResolver + '?' + ourl)
                //Should add logic to detect when link resolver fails.
                //jsonFetch(baseResolver + '?' + ourl + '&output=json&callback=?', {}, process360LinkHoldings);
	    };

	    function get360Link(ourl) {
    		//error checking would be better
    		$.getJSON(ourl, function(data) {
    		    if ((data.url != undefined) && (data.url != null)) {
    			$('#links').html($('#linkTemplate').tmpl(data));
                            $('#spinner').hide();
    		    } else {
    			$('#links').html($('#noHoldingsTemplate').tmpl(data));
    		    };
    		    $('#spinner').hide()
    		});
	    };

        </script>
    </body>
</html>
