<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Citation lookup</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://s3.amazonaws.com/static-heroku-360link/css/normalize.min.css">
        <link rel="stylesheet" href="http://s3.amazonaws.com/static-heroku-360link/css/main.css">

        <script src="http://s3.amazonaws.com/static-heroku-360link/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>

        <style type="text/css">
         input#cite {
            width: 30em;
            height: 10em;
         }
         .not-found {
            border: .25em solid #EE7600;
         }
         .not-found em {
            padding: 1em;
         }
         .main-container {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
         }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Citation finder</h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <section>
                        <!--<pre>
                            <p>Paste a citation in the box below.  A query will be made to CrossRef to attempt to find a DOI for the citation.  A second query will be made to a link resolver to attempt to find a full text link for the citation.</p>
                        </pre> -->
                        <form id="cite-box">
                            <textarea rows="10" cols="70" id="text-box"></textarea>
                        </form>
                    </section>
                    <section id="cites">
                    </section>
                    <section id="links">
                    </section>
                    <section>
                        <div id="spinner" style="display: none;">
                                <img src="https://library.brown.edu/find/interface/themes/brown/images/ajax_loading.gif" alt="Initially hidden spinner" />
                        </div>
                    </section>
                    <footer>
                    </footer>
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
            </footer>
        </div>

        <script type="text/javascript" src="http://library.brown.edu/easyarticle/static/delivery/js/json2.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="http://s3.amazonaws.com/static-heroku-360link/js/main.js"></script>
        {% raw %}
        <script id="citationsTemplate" type="text/x-jQuery-tmpl">
                <h5>Citation</h5>
                 <hr/>
                <p>{{html fullCitation}}</p>
                <ul>
                <li><a href="http://dx.doi.org/${doi}">http://dx.doi.org/${doi}</a></li>
                <li><a href="http://worldcatlibraries.org/registry/gateway?${coins}">Find via Worldcat</a></li>
                <li><a title="Add this article to your Mendeley library" href="http://www.mendeley.com/import/?doi=${doi}">Add to Mendeley</a>&nbsp;<img src="http://www.mendeley.com/graphics/mendeley.png"/></li>
                <li><a title="Add this article to your RefWorks library" href=" http://www.refworks.com/express/expressimport.asp?${coins}">Add to RefWorks</a>&nbsp;<img src="http://www.refworks.com/favicon.ico"/></li>
                </ul>
                <span class="Z3988" title="${coins}"></span>
        </script>
        {% endraw %}

        {% raw %}
        <script id="notFoundTemplate" type="text/x-jQuery-tmpl">
             <hr/>
            <p class="not-found">
                <em>No citation found.  <a href="http://scholar.google.com/scholar?q=${cite}">Try Google Scholar</a>?</em>
            </p>
        </script>
        {% endraw %}

        <script id="linkTemplate" type="text/x-jQuery-tmpl">
             <hr/>
            <h5>Brown University access</h5>
            <p>Full text available from <a href="${url.article}">
                ${holdingData.providerName}</a>
            </p>
        </script>
        {% raw %}
        <script id="noHoldingsTemplate" type="text/x-jQuery-tmpl">
            <h5>Brown University</h5>
             <hr/>
            <p>A full text link can not be found.  <a href="http://library.brown.edu/easyarticle/?${openurl}">Request via easyArticle</a>.
            </p>
        </script>
        {% endraw %}
        {% raw %}
        <script id="lookupErrorTemplate" type="text/x-jQuery-tmpl">
             <hr/>
            <p class="error">Error searching the API.</p>
        </script>
        {% endraw %}
        <script>

            $('textarea').bind('input', function(e) {
                //clear existing
                $('#cites').empty();
                $('#links').empty();
                var query = jQuery.trim($(this).val());
                var queryWordLength = query.split(/\s+/).length;
                //console.log(query + '--' + queryWordLength);
               // console.log(query.length);
                //Don't execute blank queries or those less than n characters.
                //(query.length < 50) || 
                //CrossRef also wants a minimum of three words in the query. 
                if ((query == '') || (query.length < 25) || (queryWordLength < 3)) {

                } else {
                    findDOI(query);
                    $('#spinner').toggle();
                };
            }); 

            function findDOI(cite) {
                var cites = {'citation': cite};
                //console.debug(cites);
                var cs = JSON.stringify(cites);
                var jqxhr = $.post("/fetch-cite", cite, function() {
                  //console.debug(this);
                })
                .success(function(data) 
                    { 
                        //console.debug(data.cites);
                        //console.debug(data.cites.length);
                        //console.debug(data.cites[0]);
                        //not found
                        if ((data.cites.length == undefined) || (data.cites.length == 0)) {
                            //render not found
                            $('#cites').html($('#notFoundTemplate').tmpl({'cite':cite}));
                            $('#spinner').toggle();
                        } else {
                            $.each(data.cites, function(num, link) { 
                              if (link.doi == undefined) {
                                  $('#cites').html($('#notFoundTemplate').tmpl({'cite':cite}));
                                  $('#spinner').toggle();
                                  return false;
                              } else {
                                  $('#cites').html($('#citationsTemplate').tmpl(data.cites));
                                  getElectronicHoldings(link.doi);
                              };
                            });
                        };
                    }
                )
                .error(function() { 
                    $('#cites').html($('#lookupErrorTemplate').tmpl());
                    $('#spinner').toggle();
                })
                .complete(function() { });
                return false;
            };

            //Get holdings from 360link.
            function getElectronicHoldings(doi) {
                var ourl = 'doi=' + doi;
                jsonFetch('http://damp-tor-3124.herokuapp.com/?' + ourl + '&output=json&callback=?', {},process360LinkHoldings);
            };

            function process360LinkHoldings(holdings) {
                var held = false;
                $('#links').html("<pre>Looking for full text at Brown.</pre>");
                $.each(holdings.links, function(num, link) {
                    if ((link.url != undefined) && (link.url.article != undefined)) {
                        $('#links').html($('#linkTemplate').tmpl(link));
                        $('#spinner').hide();
                        held = true;
                        return false;
                    };
                });
                //not held
                if (held == false) {
                    $('#links').html($('#noHoldingsTemplate').tmpl(holdings));
                };
                
                return;
            };


            function jsonFetch(url, data, callback) {
                $('#spinner').show();
                $.ajax({
                  url: url,
                  dataType: 'json',
                  data: data,
                  success: callback
                });
            };

        </script>

    </body>
</html>
